:root {
  --primary-color: #10cab7;
  --secondary-color: #2c4755;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.special-heading {
  color: #ebeced;
  font-size: 128px;
  font-weight: 800;
  text-align: center;
  letter-spacing: -6px;
  margin: 0;
}

.special-heading + p {
  margin: -36px 0 0;
  color: #787878;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 64px;
  }

  .special-heading + p {
    margin-top: -24px;
    letter-spacing: -2px;
  }
}

.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  width: 64px;
}

.header .links {
  position: relative;
}

.header .links .icon:hover span:nth-child(2) {
  width: 100%;
}

.header .links .icon {
  width: 32px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.header .links .icon span {
  background-color: #333333;
  margin-bottom: 4px;
  height: 2px;
}

.header .links .icon span:first-child {
  width: 100%;
}

.header .links .icon span:nth-child(2) {
  width: 50%;
  transition: 300ms;
}

.header .links .icon span:last-child {
  width: 100%;
}

.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  min-width: 200px;
  border-radius: 8px;
  display: none;
  z-index: 1;
}

.header .links:hover ul {
  display: block;
}

.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f8f8f8 transparent;
  position: absolute;
  top: -20px;
  right: 5px;
}

.header .links ul li a {
  display: block;
  padding: 16px;
  color: #333333;
  text-decoration: none;
  transition: 300ms;
}

.header .links ul li a:hover {
  padding-left: 24px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: #c8c8c8 solid 1px;
}

.landing {
  background-image: url(../assets/images/landing-1.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
  text-align: center;
}

.landing .intro-text h1 {
  margin: 0;
  color: var(--primary-color);
  font-size: 48px;
}

.landing .intro-text p {
  font-size: 20px;
  line-height: 1.8;
}

.features {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #f8f8f8;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features .feature {
  padding: 20px;
  text-align: center;
}

.features .feature i {
  color: var(--primary-color);
}

.features .feature h3 {
  font-weight: 800;
  margin: 16px 0;
}

.features .feature p {
  line-height: 1.8;
  color: #787878;
}

.services {
  padding-top: 64px;
  padding-bottom: 64px;
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
  margin-top: 96px;
}

.services .services-content .service {
  display: flex;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .services .services-content .service {
    flex-direction: column;
    text-align: center;
  }
}

.services .service i {
  color: var(--primary-color);
}

.services .service .text {
  flex: 1;
  margin-left: 16px;
}

.services .service .text h3 {
  margin: 0;
}

.services .service .text p {
  color: #333333;
  font-weight: 300;
  line-height: 1.4;
}

.services .image {
  text-align: center;
  position: relative;
}

.services .image::after {
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  right: 0;
  top: -50px;
  width: 100px;
  height: calc(100% + 100px);
  z-index: -1;
}

.services .image img {
  width: 260px;
}

@media screen and (max-width: 1199px) {
  .services .image {
    display: none;
  }
}
